doctype html
html
	head
		title Factuur
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
		style
			include pongit.css

	body
		img(src=origin + "/pongit.png")

		.your-company
			dl
				dt Adres:
				dd
					div
						strong #{your.name}
					div #{your.address}
					div #{your.city}


			dl
				dt BTW nr:
				dd #{your.btw}

			dl
				dt Bank:
				dd #{your.bank}

				dt IBAN:
				dd #{your.iban}

				dt BIC:
				dd #{your.bic}

			dl
				dt Tel:
				dd #{your.telephone}

				dt Email:
				dd #{your.email}

		.their-company
			span.to Aan:
			strong #{client.name}

			div #{client.address}
			div #{client.city}
			div #{client.telephone}
			div #{client.btw}


		.container
			h1 Factuur
			dl.invoice-details
				dt Factuurdatum:
				dd #{formatDate(date)}

				dt Factuurnummer:
				dd #{number}

			hr

			table(width="100%")
				thead
					tr
						th(width="60%" align="left") Omschrijving
						th(width="10%" align="right") Uren
						th(width="10%" align="right") Tarief
						th(width="20%" align="right") Bedrag&nbsp;EUR
					tr
						th(colspan="4")
							hr

				tbody
					each line in lines
						tr
							td #{line.desc}
							td(align="right") #{numberFormat(line.value)}
							td(align="right") #{numberFormat(line.rate)}
							td(align="right") #{numberFormat(line.rate * line.value)}


		.total-container
			div
				span Subtotaal
				span.amount EUR
				span.amount #{numberFormat(money.totalWithoutTax)}

			div
				span BTW #{money.taxPercentage} %
				span.amount EUR
				span.amount #{numberFormat(money.totalTax)}

			.total
				span Totaal te voldoen
				span.amount EUR
				span.amount #{numberFormat(money.total)}


		#pageFooter We verzoeken u vriendelijk het verschuldigde bedrag binnen 30 dagen over te maken onder vermelding van het factuurnummer.
