

p #{number}
p #{date}
p #{hours}

p #{client.name}
div #{client.address}
div #{client.city}
div #{client.telephone}
div #{client.btw}

div #{money.totalWithoutTax}
div #{money.taxPercentage}
div #{money.totalTax}
div #{money.total}

div #{pongit.name}
div #{pongit.address}
div #{pongit.city}
div #{pongit.btw}
div #{pongit.iban}
div #{pongit.bic}
div #{pongit.telephone}
div #{pongit.email}
